<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <label>Users List</label>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users">
            <strong>{{user.name}}</strong>
            <a ng-click="requestUserInfo(user._id)"><span class="glyphicon glyphicon-info-sign pull-right"></span></a>
            <br>
            <span class="text-muted">{{user._id}}</span>

        </li>
      </ul>
    </div>
  </div>
  <hr></hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form ng-submit="requestUserInfo(userId)">
        <div class="form-group">
          <label for="userIdInput">User Info</label>
          <input type="text" ng-model="userId" class="form-control" id="userIdInput" placeholder="Search User by Id...">
        </div>
      </form>
      <div ng-show="userInfo">
        <ul class="list-group" >
          <li class="list-group-item" ><strong>id:</strong> {{userInfo._id}}</li>
          <li class="list-group-item" ><strong>Name:</strong> {{userInfo.name}}</li>
          <li class="list-group-item" ><strong>email:</strong> {{userInfo.email}}</li>
          <li class="list-group-item" ><strong>Provider:</strong> {{userInfo.provider}}</li>
          <li class="list-group-item" ><strong>Role:</strong> {{userInfo.role}}</li>
          <li class="list-group-item"  ng-repeat="poll in userInfo.polls">
            <strong>Poll #{{$index + 1}} Id:</strong> {{poll._id}}
            <a ng-click="requestPollInfo(poll._id)"><span class="glyphicon glyphicon-info-sign pull-right"></span></a>
            <br><strong>Question: </strong> {{poll.question}}

          </li>
        </ul>
        <div class="btn-group pull-right">
          <div class="btn btn-default" ng-click="closeInfo('user')"><strong>Close</strong></div>
          <div class="btn btn-danger" ng-click="delete(userInfo)"><strong>Delete</strong></div>
        </div>
      </div>
    </div>
  </div>
  <hr></hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form ng-submit="requestPollInfo(pollId)">
        <div class="form-group">
          <label for="pollIdInput">Poll Info</label>
          <input type="text" ng-model="pollId" class="form-control" id="pollIdInput" placeholder="Search Poll by Id...">
        </div>
      </form>
      <div ng-show="pollInfo">
        <ul class="list-group" >
          <li class="list-group-item" ><strong>Id:</strong> {{pollInfo._id}}</li>
          <li class="list-group-item" ><strong>Question:</strong> {{pollInfo.question}}</li>
          <li class="list-group-item" ><strong>Author Name:</strong> {{pollInfo.authorName}}</li>
          <li class="list-group-item" ><strong>Autor Id:</strong> {{pollInfo.authorId}}</li>
          <li class="list-group-item" ><strong>Created On:</strong> {{pollInfo.createdOn | date:short}}</li>
          <li class="list-group-item" ><strong>Popularity:</strong> {{pollInfo.popularity}}</li>
          <li class="list-group-item"  ng-repeat="opt in pollInfo.options">
            <strong>Option #{{$index + 1}}:</strong> {{opt}}<br><strong>Votes:</strong> {{pollInfo.votes[$index]}}
          </li>
        </ul>
        <div class="btn-group pull-right">
          <div class="btn btn-default" ng-click="closeInfo('poll')"><strong>Close</strong></div>
          <div class="btn btn-danger" ng-click="pollRemove(pollInfo._id)"><strong>Delete</strong></div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p><a href="http://vote-plex.herokuapp.com/">Voteplex</a> by <a href="http://emant.altervista.org">emant</a> | <a href="https://twitter.com/js999x">@js999x</a></p>
  </div>
</footer>
