<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1><span class="glyphicon glyphicon-ok-circle"></span>Voteplex</h1>
    <p class="lead">Create and Share Polls in a Click. Join for Free!</p>
    <img src="assets/images/voteplex.png" alt="Voteplex logo">
  </div>
</header>

<div class="container">
  <div class="row top">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading nav">
          <h4 class="navbar-text"><strong>{{activeTitle}}</strong></h4>
          <div class="btn btn-default navbar-btn navbar-right bg-color-trans" ng-class="{ disabled: loading }" ng-click="switchCrit()">{{sortToggleButtonLabel}}</div>
        </div>
        <div class="panel-body">
          <a ng-repeat="thing in pollsData.results" href="/poll/{{thing._id}}/{{permalinker(thing.question)}}" class="no-decoration" ng-class="{disabled: loading}">
            <div class="well text-center showcase bg-color-trans"><h3>{{thing.question}}</h3></div>
          </a>
        </div>
        <div class="panel-footer text-center">
          <ul class="list-inline">
            <li class="btn btn-default" ng-class="{ disabled: !pollsData.prev || loading }" ng-click="pager('down')">Prev</li>
            <li class="text-muuted">page {{pollsData.last ? pollsData.current : '-'}}/{{pollsData.last || '-'}}</li>
            <li class="btn btn-default" ng-class="{ disabled: !pollsData.next || loading }" ng-click="pager('up')">Next</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p><a href="http://vote-plex.herokuapp.com/">Voteplex</a> by <a href="http://emant.altervista.org">emant</a> | <a href="https://twitter.com/js999x">@js999x</a></p>
  </div>
</footer>
