<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1><span class="glyphicon glyphicon-ok-circle"></span>Voteplex</h1>
    <p class="lead">Create and Share Polls in a Click. Join for Free!</p>
    <img src="assets/images/voteplex.png" alt="Voteplex logo">
  </div>
</header>

<div class="container">
  <div class="row top">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading nav">
          <h3 class="navbar-text">{{ sortCriterion | capitalize}} Polls:</h3>
          <div class="btn btn-default navbar-btn navbar-right darkblue" ng-click="switchCrit()">{{ inactiveSortCrit | capitalize}} First</div>
        </div>
        <div class="panel-body">
          <ul class="list-group text-center shw" ng-repeat="thing in awesomeThings">
            <a href="/poll/{{thing._id}}"><li class="list-group-item showcase"><h3>{{thing.question}}<h3></li></a>
          </ul>
        </div>
        <div class="panel-footer text-center">
          <ul class="list-inline">
            <li class="btn btn-default" ng-class="{ disabled: page === 1 }" ng-click="pager('down')">Prev</li>
            <li class="grey">page {{page}}/{{info.pageCount}}</li>
            <li class="btn btn-default" ng-class="{ disabled: page === info.pageCount }" ng-click="pager('up')">Next</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Voteplex by <a href="http://emant.altervista.org">emant</a> | <a href="https://twitter.com/js999x">@js999x</a></p> 
         
  </div>
</footer>
