<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row top">

    <!-- Main Poll Panel -->
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading nav">
          <h3 class="navbar-text">{{poll.question}}</h3>
          <div class="btn btn-primary navbar-btn navbar-right bg-color-trans" ng-class="{ disabled: loading }" ng-click="toggleView()">Show {{nextView}}</div>
        </div>
        <div class="panel-body">

          <div ng-hide="poll.showResult">
            <div class="alert text-center alert-warning" role="alert" ng-show="!logged">You must Log In to Vote</div>
            <div class="alert text-center alert-danger" role="alert" ng-show="poll.isVotedByCurrentUser">You have already voted this Poll</div>
            <div ng-repeat="option in poll.options" class="well text-center showcase bg-color-trans pointer" ng-class="{disabled: loading || poll.isVotedByCurrentUser}" ng-click="voteFor($index)">
              <h3>{{option}}</h3>
            </div>
          </div>

          <div ng-show="poll.showResult">
            <canvas id="{{ poll._id }}" class="chart chart-doughnut" chart-data="poll.votes" chart-labels="poll.options" chart-legend="true"
            chart-options='{legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%>: <strong><%=segments[i].value%></strong><%}%></li><%}%></ul>"}'></canvas>
          </div>
        </div>
        <div class="panel-footer text-center">
          <p>Created on {{poll.createdOn | date:short}} by {{poll.authorName}}</p>
        </div>
      </div>
    </div> <!-- end Main Poll Panel -->

    <!-- Side Share Panel -->
    <div class="col-md-4 side">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Share</h4>
        </div>
        <div class="panel-body text-center">
          <textarea id="link" class="form-control" rows="3" readonly="readonly">{{pageLink}}</textarea>
        </div>
        <div class="panel-footer nav text-center">
          <a class="btn btn-default" href="#"
          socialshare
          socialshare-provider="facebook"
          socialshare-text="Vote this poll !"
          socialshare-url="{{pagelink}}">
          <i id="fb" class="fa fa-facebook-square"></i>
        </a>

        <a class="btn btn-default" href="#"
          socialshare
          socialshare-text=""
          socialshare-provider="twitter"
          socialshare-url="{{pagelink}}"
          socialshare-hashtags="voteplex">
          <i id="tw" class="fa fa-twitter-square"></i>
        </a>

        <a class="btn btn-default" href="#"
          socialshare
          socialshare-text="Vote this poll !"
          socialshare-provider="google+"
          socialshare-url="{{pagelink}}"
          socialshare-hashtags="voteplex">
          <i id="gp" class="fa fa-google-plus-square"></i>
        </a>

        </div>
      </div>
    </div>  <!-- end Side Share Panel -->
  </div > <!-- end row top -->
</div> <!-- end container -->


<footer class="footer">
  <div class="container">
      <p>Voteplex by <a href="http://emant.altervista.org">emant</a> | <a href="https://twitter.com/js999x">@js999x</a></p>

  </div>
</footer>
